<a href="https://colab.research.google.com/github/Olga13T/Address_book/blob/master/homework_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

Условие 1: 1 задача
Скачать данные из файла kc_house_data.csv (прикреплен к семинару) Считать данные с помощью pandas Вывести на экран первые 5 строк Посмотреть на описание признаков и на их содержание

Условие 2: 2 задача
Проведите первичный анализ данных Изучите типы данных Найдите количество пропущенных ячеек в данных Посчитайте основные статистики по всем признакам и поизучайте их Пишите выводы

In [3]:
df = pd.read_csv("https://gbcdn.mrgcdn.ru/uploads/asset/4778880/attachment/f19c4824f9f374034e82a87a95c81ecb.csv", encoding="Windows-1251")
df.head(5)   #5 строк

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
df.info()  #какие типы данных

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [5]:
df.describe(include=['object'])   # пропущенных - 21613

                   date
count             21613
unique              372
top     20140623T000000
freq                142

In [6]:
df.describe() # основные характеристики

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

Условие 3: 3 задача
Ответьте на несколько вопросов

3.1 В каком диапазоне изменяются стоимости недвижимости?

In [7]:
df['price'].min(), df['price'].max()

(75000.0, 7700000.0)

3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [8]:
df['sqft_living'].mean() / df['sqft_lot'].mean()  # порядка ~ 15,6 %

0.1376781757959227

3.3 Как много домов с разными этажами в данных?

In [9]:
df['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

3.4 Насколько хорошие состояния у домов в данных?

In [10]:
df['condition'].value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [11]:
df['yr_built'].sort_values()  #первый в 1900, последний в 2015 из данной выборки

4697     1900
2961     1900
12369    1900
15016    1900
5236     1900
         ...
21270    2015
17098    2015
7526     2015
20086    2015
14489    2015
Name: yr_built, Length: 21613, dtype: int64

Условие 4: 4 задача¶
Ответьте на несколько вопросов

4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [22]:
df[df['bedrooms']==2].mean() # в среднем стоят - price: 4.013727e+05

<ipython-input-22-557c07309ac2>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[df['bedrooms']==2].mean() # в среднем стоят - price: 4.013727e+05

id               4.636499e+09
price            4.013727e+05
bedrooms         2.000000e+00
bathrooms        1.401721e+00
sqft_living      1.239753e+03
sqft_lot         1.209673e+04
floors           1.306703e+00
waterfront       1.123188e-02
view             1.786232e-01
condition        3.377899e+00
grade            6.871739e+00
sqft_above       1.107241e+03
sqft_basement    1.325120e+02
yr_built         1.955413e+03
yr_renovated     8.138261e+01
zipcode          9.810595e+04
lat              4.758860e+01
long            -1.222786e+02
sqft_living15    1.503786e+03
sqft_lot15       9.693109e+03
dtype: float64

4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [14]:
df[(df['price']>600000)]['sqft_lot'].mean() # общая площадь в среднем - sqft_lot: 2.044252e+04

20442.524776214832

4.3 Как много домов коснулся ремонт?

In [15]:
df['yr_renovated'].count() # всего затронуло - 21613 домов

21613

In [16]:
df['yr_renovated'].value_counts() # число отремонтированных домов со временем растет

0       20699
2014       91
2013       37
2003       36
2005       35
        ...
1951        1
1959        1
1948        1
1954        1
1944        1
Name: yr_renovated, Length: 70, dtype: int64

4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [17]:
df[df['grade']>10]['price'].mean() - df[df['grade']<4]['price'].mean() # почти на 1,5 млн

1488885.1175298805

Условие 5: 5 задача
Ответьте на несколько вопросов

5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [18]:
df[(df['view']==1) & (df['bedrooms']>=3) & (df['sqft_basement']==1)].shape[1]

21

5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [19]:
df[(df['view']==1) & (df['yr_built']>=1980)]['price'].min()

272000.0

In [20]:
df[(df['view']==1) & (df['yr_built']>=1980)]['price'].max()  # в диапазоне (272000.0; 3650000.0)

3650000.0

5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [21]:
df[(df['sqft_basement']==0) & (df['floors']==2) & (df['price']<=150000)]['grade'].mean()

7.0